<header>
  <nav class="navbar navbar-expand-lg navbar-dark  bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/bikes']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="bg-dark text-center text-white">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    {{copyrigth}}
    <a class="text-white" 
      href="https://github.com/rgentil/Seminario_Angular" 
      target="_blank">
      Ricardo Gentil
    </a>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    {{stackblitz}}
    <a class="text-white" 
      href="https://stackblitz.com/edit/angular-ivy-zrwi9b"
      target="_blank">
      Stackblitz
    </a>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    {{mockapi}}
    <a class="text-white" 
      href="https://60be7ff7d03b43001792c8ed.mockapi.io/api/servicios"
      target="_blank">
      mockapi
    </a>
  </div>
  
  
</footer>